.navbar {
    margin-bottom: 40px;
}

.login-alert {
    height: 35px;
    padding: 5px 10px !important;
    margin-bottom: 0 !important;
}

figure{
    overflow: hidden;
    margin: 0;
}
figure img{
    display: block;
    width: 100%;
    margin: -12.5% 0;
}