<div class="card mb-3">
    <figure>
        <img class="card-img-top" src="<% image %>" alt="Picture of food">
    </figure>
    <div class="card-body">
        <h5 class="card-title"><% title %></h5>
        <p class="card-text"><small class="text-muted"><% shortdescription %></small></p>
        <p class="card-text"><% ingredients %></p>
        <p class="card-text"><% description %></p>
        <a href="/" class="btn btn-primary">Back</a>
    </div>
</div>